@font-face {
  font-family: 'Hanbai';
  src: url('/resources/fonts/HANBAI.otf') format('otf'),
    url('/resources/fonts/HANBAI.ttf') format('truetype');
}

:root {
  /* Colors */
  --primary-color: #ffcd42;
  --secondary-color: #ffd35c;
  --bg-primary: #ffffff;
  --text-color: #222222;
  --text-color-two: #ffffff;
  --bg-secondary: #000000;
  --card-background: #f4f4f4;
  --bg-secondary-two: #111111;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  /* FONT FAMILY */
  --font-one: 'DM Sans', sans-serif;
  --font-two: 'Hanbai', sans-serif;

  /* Font Weight */
  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  /* Max width */
  --width-small: 600px;
  --width-medium: 1100px;
  --width-large: 1300px;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: var(--font-one);
  background-color: var(--bg-primary);
  line-height: 1.5;
}

/* .header,
.navbar {
  background-color: red;
} */

/* NAVBAR STYLES START */

/* nav menu container styles start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: var(--shadow);
}

.navbar .container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-block: 1.25rem;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.links-container .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* nav menu container styles end */

/* nav links styles start */
.nav-menu li {
  font-weight: 600;
}
/* nav links styles start */

/* theme toggle styles start */
#theme-toggle {
  align-self: center;
  font-size: 1.25rem;
}

#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.toggle-icons > .fas {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
  position: absolute;
}

.fa-moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .fa-moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .fa-sun {
  transform: rotate(100deg);
}

[data-theme='dark'] {
  --primary-color: #ffcd42;
  --secondary-color: #ffd35c;
  --bg-primary: #000000;
  --text-color: #ffffff;
  --text-color-two: #222222;
  --bg-secondary: #ffffff;
  --card-background: #111111;
  --bg-secondary-two: #f4f4f4;
  --shadow: 0 2px 10px rgba(95, 95, 95, 0.2);
}
/* theme toggle styles end */

#logo {
  font-family: var(--font-two);
  letter-spacing: 5px;
  font-size: 2.5rem;
}
.hamburger {
  display: none;
}
/* NAVBAR STYLES END */

/* BUTTONS STYLES START */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.82rem;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;
}

.btn-primary:hover {
  transform: scale(1.025);
  background: var(--secondary-color);
}
/* BUTTON STYLES END */

/* MOBILE + TAB STYLES START */
@media only screen and (max-width: 670px) {
  /* NAV MENU CONTAINER STYLES START */
  .navbar .container {
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    position: relative;
  }

  .navbar .nav-menu {
    position: fixed;
    right: -100vw;
    top: 4.8rem;
    flex-direction: column;
    width: 80%;
    transition: 0.3s;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 0px 0px 0 50px;
    align-items: flex-start;
  }

  .nav-menu.active {
    right: -25%;
  }
  /* NAV MENU CONTAINER STYLES END */

  /* NAV LINKS STYLES START */
  .navbar .btn {
    margin: 0;
    margin-top: 1rem;
  }

  .nav-menu .nav-link {
    font-size: 1rem;
    margin: 0 0.2rem;
  }

  .nav-menu li {
    margin-bottom: 0.5rem;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .nav-menu .btn {
    width: 70%;
    text-align: center;
    margin-top: 0.5rem;
  }

  .nav-menu li:hover {
    transform: translateX(5px); /* Adjust the offset value */
  }

  #logo {
    font-size: 1.5rem;
  }
  /* NAV LINKS STYLES END */

  /* HAMBURGER STYLES START */
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
    align-self: center;
  }

  .toggle-icons img {
    width: 1.75rem;
    margin-top: 0.35rem;
  }

  .bar {
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    background-color: var(--bg-secondary);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* HAMBURGER STYLES END */
}
/* MOBILE + TAB STYLES END */
