/* === CUSTOM VARIABLES === */
:root {
  /* backgroundColors */
  --raw-seinna: hsl(24, 74%, 58%);
  --background-dark-100: hsl(0, 0%, 12%);
  --background-dark-90: #222222;
  --background-dark-95: #282828;
  --background-dark-80: #333333;
  --background-dark-70: #444444;
  --background-orange: #29e7cd;
  --background-dark-60: #666666;

  /* colors */
  --color-white-100: #ffffff;
  --color-white-95: #f5f5f5;
  --color-white-80: #d5d5d5;
  --color-white-60: #aaaaaa;
  --color-white-70: #bbbbbb;

  /* fontSize */
  --font-size-48: 48px;
  --font-size-24: 24px;
  --font-size-21: 21px;
  --font-size-18: 18px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-11: 11px;
  --font-size-30: 30px;
  --font-size-16: 16px;
  --font-size-13: 13px;

  /* transition */
  --transition-default: 0.25s ease;

  /* fontFamily */
  --ff-montserrat-alt: 'Montserrat Alternates', sans-serif;

  /* boxShadow */
  --shadow-1: 10px 10px 40px hsla(0, 0%, 0%, 0.4);
}

/* === RESET STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--ff-montserrat-alt);
  color: var(--color-white-95);
}

body {
  height: 100vh;
  background: var(--background-dark-100);
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white-95);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-48);
  margin-bottom: 10px;
}

h2 {
  font-size: var(--font-size-21);
  margin-bottom: 30px;
  box-shadow: inset 0 -2px 0 var(--background-orange);
  width: fit-content;
}

button {
  display: block;
  cursor: pointer;
  outline-offset: 3px;
  background: none;
  border: none;
  font: inherit;
}

h3 {
  font-size: var(--font-size-18);
  margin-bottom: 5px;
}

p,
blockquote {
  color: var(--color-white-80);
  font-size: var(--font-size-14);
  line-height: 1.8;
}

::selection {
  background: var(--background-orange);
  color: var(--color-white-100);
}

.section-heading {
  font-size: var(--font-size-30);
  border-bottom: 2px solid var(--background-dark-60);
  padding-bottom: 5px;
}

.section-sub-heading {
  font-size: var(--font-size-14);
  text-align: right;
  font-weight: 300;
  color: var(--color-white-70);
  margin-bottom: 40px;
}

.btn-primary {
  padding: 8px 30px;
  border: 2px solid var(--background-orange);
  font-size: var(--font-size-14);
  transition: var(--transition-default);
}

.btn-primary:hover {
  background: var(--background-orange);
  color: var(--color-white-100);
}

img {
  width: 100%;
  height: auto;
}

/* === REUSED STYLES === */
.about,
.resume,
.portfolio,
.contact {
  position: absolute;
  top: 110%;
  right: 0;
  transform: scale(0.5);
  width: calc(100% - 165px);
  height: 100%;
  background: var(--background-dark-90);
  overflow-y: auto;
  transition: all 0.5s ease;
}

:is(.about, .resume, .portfolio, .contact).active {
  top: 0;
  transform: scale(1);
  z-index: 10;
}

/* === OVERALL CONTAINER === */
.container {
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

/* === MOBILE NAVBAR STYLES === */
.nav-mobile {
  position: fixed;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--background-dark-90);
  border-bottom: 1px solid var(--background-dark-70);
  padding: 10px 20px;
  z-index: 100;
}

.nav-mobile .navbar-brand {
  display: flex;
  align-items: center;
}

.nav-mobile .brand-img {
  width: 35px;
  margin-right: 10px;
}

.nav-mobile .brand-name {
  font-size: var(--font-size-18);
  margin-bottom: 0;
}

.nav-mobile .menu-toggler {
  font-size: var(--font-size-24);
  cursor: pointer;
}

/* SIDEBAR NAV STYLES */
.side-bar {
  position: absolute;
  width: 160px;
  height: 100%;
  padding: 30px 0;
  text-align: center;
  background: var(--background-dark-90);
  overflow-y: scroll;
  display: table;
  z-index: 50;
}

.side-bar .brand-img {
  width: 80px;
  margin-bottom: 20px;
}

.side-bar .brand-name {
  text-align: center;
  line-height: 1;
  font-size: var(--font-size-24);
  margin-bottom: 30px;
}

/* === NAV MENU === */
.nav li a {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid var(--background-dark-80);
  font-size: var(--font-size-14);
  transition: background var(--transition-default);
}

.nav li:last-child a {
  border-bottom: 1px solid var(--background-dark-80);
}

.nav li a:hover {
  background: var(--background-dark-80);
  box-shadow: inset -2px 0 0 var(--color-white-95);
}

.nav li a.active {
  background: var(--background-dark-80);
  box-shadow: inset -2px 0 0 var(--background-orange);
}

/* === SOCIAL LINKS === */
.social-btn-groups .btn {
  padding: 4px 7px 0 7px;
  margin: 40px 2px;
  background: var(--background-dark-70);
  color: var(--color-white-60);
  transition: all var(--transition-default);
}

.social-btn-groups .btn:hover {
  background: var(--background-orange);
  color: var(--color-white-100);
}

/* === SIDEBAR FOOTER === */
.side-bar-footer {
  display: table-row;
  vertical-align: bottom;
}

.side-bar-footer .copyright {
  font-size: var(--font-size-12);
  color: var(--color-white-60);
}

/* === ABOUT SECTION === */
.hero {
  display: flex;
}

.hero-img-bx {
  width: 50%;
  max-height: 100%;
}

.hero-img-bx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0;
}

.hero-content {
  width: 50%;
  max-height: fit-content;
  background: var(--background-dark-80);
  padding: 80px;
  display: table;
}

.hero-content-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.hero-content .title {
  font-size: var(--font-size-14);
  color: var(--color-white-60);
}

.hero-content .desc {
  margin-bottom: 20px;
}

.hero-content .desc p {
  margin-bottom: 10px;
}

.about-inner {
  padding: 80px;
}

.service {
  margin-bottom: 50px;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.grid-item .item {
  display: flex;
}

.grid-item .item-icon {
  font-size: 40px;
  margin-right: 30px;
  color: var(--color-white-60);
}

.item-wrapper p {
  font-size: var(--font-size-12);
}

.testimonials {
  margin-bottom: 50px;
}

.testimonials-row {
  display: flex;
}

.testimonials-content {
  margin-right: 20px;
}

.testimonials-text {
  background: var(--background-dark-95);
  padding: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--background-dark-70);
}

.testimonials-author {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;
}

.author-img {
  width: 80px;
  border-radius: 50%;
  border: 2px solid var(--background-dark-70);
  margin-right: 10px;
  transform: translateY(-50%);
}

.author-info .author-title {
  font-size: var(--font-size-11);
  color: var(--color-white-60);
}

/* skills */
.skills {
  padding-block: 50px;
}

.skills-toggle {
  background: var(--background-dark-100);
  position: relative;
  width: max-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.skills-content {
  margin-bottom: 50px;
}

.skills-toggle {
  background: var(--bg-secondary);
  position: relative;
  width: max-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.skills-toggle::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 93px;
  background: var(--background-orange);
  border-radius: 100px;
  transition: var(--transition-1);
  z-index: -1;
}

.skills-toggle.active::before {
  left: 98px;
  width: 94px;
}

.toggle-btn {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  padding: 5px 25px;
  transition: var(--transition-1);
}

.toggle-btn.active {
  color: var(--white);
}

.skills-box.active .skills-list,
.skills-box .tools-list {
  display: none;
}

.skills-box .skills-list,
.skills-box.active .tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-card {
  position: relative;
  background: var(--bg-secondary);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 12px;
  box-shadow: var(--shadow-1);
  cursor: help;
}

.tooltip {
  position: absolute;
  top: -40px;
  background: var(--raw-seinna);
  min-width: max-content;
  color: var(--white);
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

.skill-card:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.h3 {
  max-width: 350px;
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: calc(1.313rem + 1vw);
}

.section-text {
  line-height: 1.8;
  margin-bottom: 30px;
}
